@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
    --color-text: #000;
    --color-background: #fff;
}

html[data-theme="dark"] {
    --color-text: #fff;
    --color-background: #1e1e1e;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--color-text);
    background: var(--color-background);
}

#root {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none;
}

.main {
    min-width: 0;
}

.liner {
    height: 1px;
    background: #333;
}

.liner-v {
    width: 1px;
    height: 16px;
    background: #333;
}

.cm-theme {
    font-size: 11px;
    .cm-gutters {
        padding: 0 5px;
        user-select: none;
    }
    pre {
        word-break: break-word;
    }
}

.Modal {
    background-color: #222;
}

.Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, 0.8);
}
