.sidebar {
    width: 300px;
    height: 100%;
    border-right: 1px solid #ffffff11;
    .instance {
        display: flex;
        align-items: center;
        .status {
            margin-right: 10px;
            width: 14px;
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            & > div {
                width: 7px;
                height: 7px;
                border-radius: 100%;
            }
        }
        .actions {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 10px;
            opacity: 0;
            pointer-events: none;
            transition: 0.1s all linear;
        }
        &:hover {
            .actions {
                opacity: 1;
                pointer-events: all;
                transition-duration: 0s;
            }
        }
    }
}
